
/* Your CSS Code here. */
.moviePic{
	height:500px;
	width:500px;
	opacity:1.0;
	padding:10px;
}
.movieDetail{
	position:absolute;
	top:20px;
	width:500px;
	text-align:justify;
	font-size:20px;
	padding:10px;
}